/* **************************************************************
*****************import font form google**************************
**************************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* **************************************************************
*****************General style here******************************
**************************************************************** */
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width:100%;
}
.container{
    width:1160px;
}
.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* **************************************************************
*****************Header area style here**************************
**************************************************************** */
.header-area{
     background: #2D25A0; 
     padding-top:52px;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.menu{
    display:flex;
}
.menu>li{
    margin-right:36px;
    color:white;
}
.menu> li a{
    color:#fff;
    transition: all .5s ease;
}
.menu> li a:hover{
   border-bottom:3px solid #E02C6D;
}
.login-btn a{
    color:#fff;
    background: #E02C6D;
    padding:10px 24px;
    transition: all .5s ease;
}
.login-btn a:hover{
    background: #000;
}
.hero-area{
    display: flex;
    margin-top:60px;
    justify-content: space-between;
}
.title-btn{
    width:485px;
}
.title-btn h1{
    color:#fff;
    font-size: 64px;
    font-weight: 700;
}
.title-btn a{
    color:#fff;
    background: #E02C6D;
    padding:10px 24px;
    display: inline-block;
    margin-top: 27px;
    transition: all .5s ease;
}
.title-btn a:hover{
    background: #000;
}
.title-btn a i{
    margin-left: 5px;
}
.player-banner{
    width:556px;
}


/* **************************************************************
*****************Blog area style here**************************
**************************************************************** */
.blog-area{
    background: #FFFFFF;
}
.article-box{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top:70px;
    grid-gap: 30px;
    padding:0 45px;
}
.blog{
    padding:15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.blog h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-top:16px;
}
.blog p{
    line-height: 26px;
    color:#6C6C6C;
    font-weight: 400;
    margin-top:10px;
    
}
/* **************************************************************
*****************Highlights area style here**************************
**************************************************************** */
.highlights-box{
    display: flex;
    margin-top: 165px;
    justify-content: space-between;
}
.highlights-details{
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlights-details h1{
    font-size: 48px;
    font-weight: 700;
}
.highlights-details p{
    font-weight: 400;
    line-height: 28px;
    color:#6C6C6C;
}
.highlights-details a{
    color:#fff;
    background: #E02C6D;
    padding:10px 24px;
    display: inline-block;
    margin-top: 24px;
    transition: all .5s ease;
}
.highlights-details a i{
    margin-left: 5px;
}
.highlights-details a:hover{
    background: #000;
}

/* **************************************************************
*****************Contact area style here**************************
**************************************************************** */
.contact-box{
    margin-top:160px;
    display: flex;
    justify-content: space-between;
   
   
}
.contact-form{
    width:45%;
    margin-left: 10%;
    
}

.contact-form h3{
    margin-bottom: 20px;
}
.contact-form form input,
.contact-form textarea{
    box-sizing: border-box;
    width:100%;
    padding:10px 20px;
    margin-bottom: 10px; 
    font-size: 18px;
    border:none;
    background: #E7E7E8;
    outline-color: #E02C6D;
    
}
.contact-form input[type="submit"]{
    width:100%;
    color:#000;
    font-weight: 700;
    border:2px solid #E02C6D;
    color:#E02C6D;
    cursor: pointer;
    transition: all .5s ease;
}
.contact-form input[type="submit"]:hover{
    color:#000;
    border-color: #000;
}
.contact-map{
  width:45%;
}
.contact-map iframe{
  width:100%;
}



/* **************************************************************
*****************Footer area style here**************************
**************************************************************** */
.footer-area{
    margin-top:160px;   
}
.footer-box{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.club-logo{
    width:480px;
}

.social-menu{
    display: flex;
    margin-top: 20px;
}
.social-menu li{
    margin-right: 14px;
    width:32px;
    height: 32px;
    background: #E7E7E8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-menu li a{
    color:#969BAB;
    transition: all .5s ease;
}
.copyright-text p{
    font-size: 18px;
    margin-top:20px;
    margin-bottom: 63px;
} 
.social-menu .youtube:hover a{
    color:#FF0101;
}
.social-menu .twitter:hover a{
    color:#5DA9DD;
}
.social-menu .dribbble:hover a{
    color:#D93A77;
}
.social-menu .instagram:hover a{
    color:#495EC1;
}